body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

h2{
    font-size: 24px;
    color: white;

}
h1{
    font-size: 50px;
    color: white;
    margin: 0;
    line-height: 50px;
}

#logo{
    padding-left: 20px;
    height: 100%;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    align-self: center;
}

a.nv{
    color: white;
    font-size: 16px;
    padding: 10px 16px;
}

.nv:hover{
    background-color: rgba(255, 255, 255, 0.185);
}

#cta{
    height: 80vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    
    align-items: center;
    flex-direction: column;
    background-image: url(cafe2.jpeg);
    text-align: center;
}

a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

}

.container{
    width: 600px;
    color: white;
}

#p1{
    font-size: 18px;
    line-height: 40px;
    margin: 20px 0;

}

#dec{
    background-color: white;
    padding: 14px 28px;
    border-radius: 50px;
    font-weight: 400;
    color: black;
}
#dec:hover{
    color: white;
    background: #000;

}

img{
    height: 50px;
}

.part1{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.pa1-1{
    width: 500px;
    margin: 100px;
    text-align: center;
}

#foo{
    padding: 300px;
    background-image: url(service.jpeg);
}
